@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

h1 {
    font-family: 'Permanent Marker', cursive;
}

* {
    margin: 10px, 10px;
}

.container {
    display: flex;
    flex-direction: row;
}

.column {
    width: 33.333%;
    height: 70vh;
    border: 1px solid black;
}

.topColumn{
    border-bottom: 1px solid black; 
    text-align: center;
}